body {
    background-color: tan;
    align-content: center;
    color: blue;
}

h3 {
    color: black;
    
}
img {
    height: 250px;
    width: 200px;
}
li {
    text-decoration: none
}
heading {
    color: black;
}