
body {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.6) 100%), url('../img/tankpic1.jpg') no-repeat center;
    padding: 180px 0;
    text-align: center;
    color: #fff;
    background-size: cover;
    
    color: blue;
    background-image: url(/img/digital-camo.jpg);
}
h1 {
    font-weight: 800;
    text-align: center;
}
section {
    display: inline-block;
    background-color: tan;
    width: 200px;
    float: left;
    margin: 5px
}
h3 {
    color: black;
    
}
img {
    display: inline-block;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

heading {
    color: black;
}
p {
    font-family: calibri;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
    font-weight: 800;
}
