body {
    align-content: center;
    color: blue;
}
h1 {
    font-weight: 800;
    text-align: center;
}
section {
    background-color: tan;
    width: 200px;
}
h3 {
    color: black;
    
}
img {
    display:block;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

heading {
    color: black;
}
p {
    font-family: calibri;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 46em;
    font-weight: 800;
}
