* {
    padding: 0;
    margin: 0 auto;
}

#title {
    background-color:black;
}

#title p {
    color:white;
    font-size: 45px;
    text-align: center;
}

#aboutus img {
    width:100%;
}

#aboutus h2 {
    text-align: center;
    margin-bottom:40px;
    font-size:30px;
    font-weight:700;
    margin-top:20px;
}

#aboutus p {
   text-align: center;
    width:80%;
    font-size:20px;
}

#pics img {
    height:200px;
    width: 200px;
    margin-left:10%;
    margin-top:120px;
}




/* IN CASE OF EMERGENCY -- USE CLEARFIX!
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
*/